# Ambiente virtual Python
.venv/

# Variáveis de ambiente
.env

# Cache Python
__pycache__/
*.pyc

# Banco vetorial (quando criarmos)
chroma_db/

# Arquivos temporários
*.log
*.tmp

# Linux
*.swp

# VS Code
.vscode/

# JetBrains
.idea/


# embeddings gerados
data/embeddings/

# banco vetorial futuro
data/vectordb/

# cache huggingface
.cache/
