# Ambiente virtual Python
.venv/

# Variáveis de ambiente
.env

# Cache Python
__pycache__/
*.pyc

# Arquivos PDF
*.pdf

# Banco vetorial (quando criarmos)
chroma_db/

# Arquivos temporários
*.log
*.tmp

# Linux
*.swp

# VS Code
.vscode/

# JetBrains
.idea/


